<%- include("header")%>


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Product Data</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin/deshboard">Home</a></li>
          <li class="breadcrumb-item">Product</li>
          <li class="breadcrumb-item active">Add Product</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Product Form</h5>
              <!-- General Form Elements -->
              <form action="/admin/product/add_ProductData" method="post" enctype="multipart/form-data">
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-4 col-form-label">Select Category</label>
                  <div class="col-sm-8">
                    <select name="procat_name" id="categoryID" onchange="return getSubcatData()" class="form-control">
                        <option value="0">Please select Category</option>
                        <% for(var ct of categoryData){%>
                            <option value="<%= ct.id%>"><%= ct.category_name%></option>
                        <%}%>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-4 col-form-label">Select Sub_Category</label>
                  <div class="col-sm-8">
                    <select name="proSubCat_name" id="SubCatId" onchange="return getextraData()" class="form-control">
                        <option value="0">Please select Sub_Category</option>
                        <% for(var st of subCatData){%>
                            <option value="<%= st.id%>"><%= st.sub_category_name%></option>
                        <%}%>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-4 col-form-label">Select Extra_Category</label>
                  <div class="col-sm-8">
                    <select name="proExtra_name" id="extraId" class="form-control" onchange="return getbrandId()">
                        <option value="0">Please select Extra_Category</option>
                        <% for(var et of extraData){%>
                            <option value="<%= et.id%>"><%= et.extra_category_name%></option>
                        <%}%>
                    </select>
                  </div>
                </div>

                <div id="brandTypeId">
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">Select Brand</label>
                    <div class="col-sm-8">
                      <select name="probrand_name" id="extraId" class="form-control">
                          <option value="0">Please select Brand</option>
                          <% for(var bt of brandData){%>
                              <option value="<%= bt.id%>"><%= bt.brand_name%></option>
                          <%}%>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">Select Tpye</label>
                    <div class="col-sm-8">
                      <select name="protype_name" id="extraId" class="form-control">
                          <option value="0">Please select Type</option>
                          <% for(var td of typeData){%>
                              <option value="<%= td.id%>"><%= td.type_name%></option>
                          <%}%>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputText" class="col-sm-4 col-form-label">Enter Product</label>
                  <div class="col-sm-8">
                    <input type="text" name="product_title" placeholder="Enter Product" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-4 col-form-label">Enter Product Price</label>
                  <div class="col-sm-8">
                    <input type="text" name="product_price" placeholder="Enter Price" class="form-control">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-4 col-form-label">Enter Product Old-Price</label>
                  <div class="col-sm-8">
                    <input type="text" name="product_oldprice" placeholder="Enter Old-Price" class="form-control">
                  </div>
                </div>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-4 pt-0">Select Product Color</legend>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_color" id="gridRadios1" value="black">
                      <label class="form-check-label" for="gridRadios1">Black</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_color" id="gridRadios2" value="yellow">
                      <label class="form-check-label" for="gridRadios2">Yellow</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_color" id="gridRadios3" value="gray">
                      <label class="form-check-label" for="gridRadios3">Gray</label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="row mb-3">
                  <legend class="col-form-label col-sm-4 pt-0">Select Product Size</legend>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_size" id="gridRadiosA" value="30">
                      <label class="form-check-label" for="gridRadiosA">30</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_size" id="gridRadiosB" value="32">
                      <label class="form-check-label" for="gridRadiosB">32</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_size" id="gridRadiosC" value="36">
                      <label class="form-check-label" for="gridRadiosC">36</label>
                    </div>
                  </div>
                </fieldset>
                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-4 col-form-label">Description</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" name="product_description" placeholder="Description" style="height: 100px"></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-4 col-form-label">Product Single Image</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="file" id="formFile" name="Product_Image">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-4 col-form-label">Product Multiple Images</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="file" id="formFile" name="Product_multi_Image" multiple>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
<%- include("footer")%>